.home-main {
  padding-top: 20vh;
  height: 110vh;
  min-height: 120vh;
  background: rgb(251, 176, 59);
  background: linear-gradient(
    37deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(115, 27, 51, 1) 23%,
    rgba(83, 36, 65, 1) 77%
  );
}

.home-main-img1 {
  position: absolute;
  left: 0;
  height: 40vh;
  width: 20vw;
  // margin-top: 50vh;
  margin-left: 5vw;
  margin-top: 5vh;
}

.home-main-img2 {
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 80%;
  margin-top: -40vh;
}

.home-main-top {
  font-size: 100px;
  color: #ffffd1;
  text-align: left;
  font-weight: 50;
  margin-left: 5vw;
  font-family: "gilmer_light";
}

.home-main-mid {
  margin-top: 10vh;
}

.home-main-mid1 {
  text-align: left;
  font-size: x-large;
  color: #fbb03b;
  margin-left: 40%;
  font-family: "Quicksand_Bold";
  padding-bottom: 5vh;
}

.home-main-mid2 {
  text-align: left;
  color: #fff;
  margin-left: 40%;
  width: 20%;
  font-family: "Quicksand_Regular";
}

.home-mid-btn {
  height: 7vh;
  width: 10vw;
  border-radius: 30px;
  background: rgb(251, 176, 59);
  background: linear-gradient(
    90deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(247, 147, 104, 1) 60%
  );
  font-family: "Quicksand_Bold";
  color: #731b33;
  font-size: medium;
  cursor: pointer;
  margin-top: 10px;
}

// .home-main-mid-btn {
//   height: 15vh;
//   width: 15vw;
//   position: absolute;
//   cursor: pointer;
// }

// .home-main-mid-btntxt {
//   z-index: 10;
//   position: relative;
//   margin-top: 4.5vh;
//   margin-left: 5.7vw;
//   font-size: larger;
//   font-family: "Quicksand_Bold";
//   color: #731b33;
//   cursor: pointer;
// }

@media only screen and (min-width: 1024px) and (max-width: 1560px) {
  .home-main {
    height: 100%;
    min-height: 145vh;
  }

  .home-main-img1 {
    height: 50vh;
    width: 25vw;
  }

  .home-main-img2 {
    height: 100%;
  }

  .home-main-mid2 {
    text-align: left;
    color: #fff;
    margin-left: 40%;
    width: 30%;
    font-family: "Quicksand_Regular";
  }

  // .home-mid-btn {
  // display: flex;
  // margin-left: 45vw;
  // }

  .home-main-mid-btn {
    height: 15vh;
    width: 15vw;
  }

  .home-main-mid-btntxt {
    margin-top: 3vh;
    margin-left: 5.5vw;
    font-size: large;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-main {
    height: 120vh;
    min-height: 140vh;
  }

  .home-main-top {
    display: flex;
    font-size: 40px;
    min-width: 10vw;
  }

  .home-main-top2 {
    padding-left: 10px;
  }

  .home-main-img1 {
    height: 60vh;
    width: 40vw;
  }

  .home-main-img2 {
    height: 85%;
    margin-top: 0;
  }

  .home-main-mid {
    margin-top: 65vh;
  }

  .home-main-mid1 {
    text-align: left;
    color: #fbb03b;
    margin-left: 40%;
  }

  .home-main-mid2 {
    text-align: left;
    color: #fff;
    margin-left: 22%;
    width: 50%;
  }

  .home-main-mid-btn {
    height: 15vh;
    width: 50vw;
    margin-left: -15vw;
  }

  .home-main-mid-btntxt {
    margin-top: 3.5vh;
    margin-left: 7vw;
    font-size: medium;
  }
}

@media (max-width: 767px) {
  .home-main {
    height: 150vh;
    min-height: 160vh;
  }

  .home-main-top {
    font-size: 40px;
    min-width: 10vw;
  }

  .home-main-img1 {
    height: 40vh;
    width: 40vw;
  }

  .home-main-img2 {
    height: 50%;
    margin-top: 10vh;
  }

  .home-main-mid {
    margin-top: 50vh;
  }

  .home-main-mid1 {
    text-align: left;
    color: #fbb03b;
    margin-left: 40%;
  }

  .home-main-mid2 {
    text-align: left;
    color: #fff;
    margin-left: 25%;
    width: 50%;
  }

  .home-mid-btn {
    height: 10vh;
    width: 25vw;
    font-size: medium;
    margin-top: 10px;
  }

  // .home-main-mid-btntxt {
  //   margin-top: 3.5vh;
  //   margin-left: 7vw;
  //   font-size: medium;
  // }
}
